<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Dojos</title>
  </head>
  <body>
    <h1>Listing <%= pluralize(@dojos.count, "Dojo") %></h1>
    <% if flash[:success] %>
      <%= flash[:success] %>

    <% end %>

    <table>
      <tr>
        <th>Coding Dojo Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
      </tr>
    <%@dojos.each do |dojo|%>
    <tr>
      <td><%=dojo.branch%></td>
      <td><%=dojo.street%></td>
      <td><%=dojo.city%></td>
      <td><%=dojo.state%></td>
    </tr>
    <%end%>

    </table>
    <a href='dojos/new'>Create Dojo</a>
  </body>
</html>
